/* graph element default states */

.nonactive .connection {
  stroke: #c0c0c0;
  stroke-width: 1px;
}
.active rect {
    stroke: #179e50;
    fill: #15dddd;
    stroke-width: 3px;
}
.active text {
  stroke: #101010;
}

.nonactive rect {
  stroke: #c0c0c0;
}
.nonactive text {
  stroke: #c0c0c0;
}
.missing rect {
  fill: #080808;
}
.missing text {
  stroke: #dd0000;
}


/* document layout */

#paper {
  overflow: scroll;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1; /*keep it under everything else */
  size: 400%;
}

#file {
  position: fixed;
  top: 5px;
  left: 0px;
  width: 250px;
  height: 20px;
}

#style {
  position: fixed;
  top: 30px;
  left: 0px;
}

#list {
  font-family: monospace;
  font-size: 11px;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 250px;
  bottom: 15px;
}

#controls {
  position: fixed;
  top: 0px;
  height: 25px;
  left: 250px;
}

/* node shadow */
.element.basic.Rect rect {
   /* Webkit */
   -webkit-svg-shadow: 2px 2px 5px gray;
   /* FF */
   filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='dropshadow' width='150%' height='150%'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='3' dy='3' result='offsetblur'/><feFlood flood-color='gray' /><feComposite in2='offsetblur' operator='in' /><feMerge><feMergeNode /><feMergeNode in='SourceGraphic' /></feMerge></filter></svg>#dropshadow");
}