/* graph element default states */

.nonactive .connection {
  stroke: #c0c0c0;
  stroke-width: 1px;
}
.active rect {
    stroke: #179e50;
    fill: #15dddd;
    stroke-width: 3px;
}
.active text {
  stroke: #101010;
}

.nonactive rect {
  stroke: #c0c0c0;
}
.nonactive text {
  stroke: #c0c0c0;
}

/* hide link tools we don't need */
.link-tools { display: none }
.marker-arrowheads { display: none }

/* document layout */

.graphmoviepane {
  padding: 0px;
  border: 0px;
}

#initcontrols {
  overflow: hidden;
}

#list {
  font-family: monospace;
  font-size: 11px;
  width: 100%;
  height: 100%;
}

#infobox {
  padding: 2px;
  font-family: monospace;
  font-size: 8px;
}

/* node shadow */
.element.basic.Rect rect {
   /* Webkit */
   -webkit-svg-shadow: 2px 2px 5px gray;
   /* FF */
   filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='dropshadow' width='150%' height='150%'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='3' dy='3' result='offsetblur'/><feFlood flood-color='gray' /><feComposite in2='offsetblur' operator='in' /><feMerge><feMergeNode /><feMergeNode in='SourceGraphic' /></feMerge></filter></svg>#dropshadow");
}